APP_PORT=3600

# PGADMIN
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=Password123!
PGADMIN_PORT=16543

# POSTGRES
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=dev
MULTIPLE_DATABASES=dev,test,prod

# Nest run locally
DB_HOST=localhost

DB_PORT=5432
DB_SCHEMA=dev

# Prisma database connection
#DATABASE_URL=postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=${DB_SCHEMA}&sslmode=prefer
DATABASE_URL=postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=prefer